<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    User Management
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            <center>
              Succubus
            </center>
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/dashboard">
              <i class="tim-icons icon-bulb-63"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/dashboard/attack">
              <i class="tim-icons icon-world"></i>
              <p>Attack</p>
            </a>
          </li>
          <li>
            <a href="/dashboard/user">
              <i class="tim-icons icon-single-02"></i>
              <p>Account</p>
            </a>
          </li>
          {{if .user.admin}}
          <li>
            <a href="/dashboard/manage">
              <i class="tim-icons icon-settings"></i>
              <p>Manage Users</p>
            </a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
    <div class="main-panel">


      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Adduser</h5>
              </div>
              <div class="card-body">
                <form method="POST">
                  <div class="row">
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Attack Cooldown</label>
                        <input name="cooldown" type="number" class="form-control" value="0">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Max Attack Duration</label>
                        <input name="timelimit" type="number" class="form-control" value="30">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Max Concurrent Attacks</label>
                        <input name="concurrents" type="number" class="form-control" value="1">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Expiry</label>
                        <input name="expiry" type="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>API</label>
                        <input name="api" type="checkbox" class="form-control" value="api">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>VIP</label>
                        <input name="vip" type="checkbox" class="form-control" value="vip">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group"><label>Reseller</label>
                        <input name="reseller" type="checkbox" class="form-control" value="Reseller">
                      </div>
                    </div>
                    <div class="col-md-9 pr-md-1">
                      <div class="form-group">
                        <label>Admin</label>
                        <input name="admin" type="checkbox" class="form-control" value="admin">
                      </div>
                    </div>
                    </p>
                    <div class="card-footer">
                      <button name="adduser" type="submit" class="btn btn-fill btn-primary"
                        value="Add User">Save</button>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
          <div class="col-">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Edit User</h5>
              </div>
              <div class="card-body">
                <form method="POST">
                  <div class="col-md-9 pr-md-1">
                    <div class="form-group">
                      <label>User</label>
                      <select class="form-control" name="user" required>
                        {{range .users}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-9 pr-md-1">
                    <div class="form-group">
                      <label>Column</label>
                      <select class="form-control" name="column" required>
                        {{range .columns}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-9 pr-md-1">
                    <div class="form-group">
                      <label>Value</label>
                      <input name="newvalue" type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button name="edituser" type="submit" class="btn btn-fill btn-primary"
                      value="Edit User">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Ongoing</h5>
                <table class="table tablesorter " name="ongoing">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        User
                      </th>
                      <th>
                        Host
                      </th>
                      <th>
                        Method
                      </th>
                      <th class="text-center">
                        Expires
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range .ongoing}}
                    <tr>
                    <tr>
                      <td>
                        {{.Username}}
                      </td>
                      <td>
                        {{.IpAddress}}
                      </td>
                      <td>
                        {{.Method}}
                      </td>
                      <td id="countdown" class="text-center" sent="{{.Sent}}" time="{{.Time}}">

                      </td>
                    </tr>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script>
      var err = "{{.error}}"
      if (err) {
        $.notify({
          icon: "tim-icons icon-bell-55",
          message: err

        }, {
          type: "danger",
          timer: 2000,
          placement: {
            from: 'top',
            align: 'center'
          }
        });
      }
      var now = '{{.timenow }}';
      var x = setInterval(function () {
        var table = document.getElementsByTagName("tbody");
        var rows = table.item(0).getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
          let row = rows.item(i);
          let cell = row.getElementsByClassName("text-center")[0];
          if (cell == undefined)
            continue
          let t = parseInt(cell.getAttribute("time")) + parseInt(cell.getAttribute("sent"));
          let diff = (t - now);
          now++;
          if (diff <= 0) {
            row.remove();
          } else {
            cell.innerHTML = diff;
          }

        }

      }, 1000);
    </script>
</body>

</html>